img {
  width: 300px;
  height: 400px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  width: 300px;
  text-align: justify;
}

.image-container {
  position: relative;
}

.favorite {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}